<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#22회-통계분석" data-toc-modified-id="22회-통계분석-1">22회 통계분석</a></span><ul class="toc-item"><li><span><a href="#회사는-제품에-금속-재질-함유량의-분산이-1.3을-넘으면-불량이라고-판단한다.-회사에서는-품질경영팀으로부터-제조사별로-금속함유량이-차이가-난다고-제보를-받았다.-해당-금속함유량-데이터에-대한-검정을-수행하시오.-(유의확률:0.05)-" data-toc-modified-id="회사는-제품에-금속-재질-함유량의-분산이-1.3을-넘으면-불량이라고-판단한다.-회사에서는-품질경영팀으로부터-제조사별로-금속함유량이-차이가-난다고-제보를-받았다.-해당-금속함유량-데이터에-대한-검정을-수행하시오.-(유의확률:0.05)--1.1">회사는 제품에 금속 재질 함유량의 분산이 1.3을 넘으면 불량이라고 판단한다. 회사에서는 품질경영팀으로부터 제조사별로 금속함유량이 차이가 난다고 제보를 받았다. 해당 금속함유량 데이터에 대한 검정을 수행하시오. (유의확률:0.05) <br></a></span><ul class="toc-item"><li><span><a href="#연구가설과-귀무가설을-작성시오" data-toc-modified-id="연구가설과-귀무가설을-작성시오-1.1.1">연구가설과 귀무가설을 작성시오<br></a></span></li><li><span><a href="#가설을-양측-검정-" data-toc-modified-id="가설을-양측-검정--1.1.2">가설을 양측 검정 <br></a></span></li><li><span><a href="#검정통계량,-가설-채택" data-toc-modified-id="검정통계량,-가설-채택-1.1.3">검정통계량, 가설 채택<br></a></span></li></ul></li><li><span><a href="#200개의-Lot별-불량-제품-수량-데이터에-따라-아래의-값을-구하시오.-" data-toc-modified-id="200개의-Lot별-불량-제품-수량-데이터에-따라-아래의-값을-구하시오.--1.2">200개의 Lot별 불량 제품 수량 데이터에 따라 아래의 값을 구하시오. <br></a></span></li></ul></li></ul></div>

# 22회 통계분석 

## 회사는 제품에 금속 재질 함유량의 분산이 1.3을 넘으면 불량이라고 판단한다. 회사에서는 품질경영팀으로부터 제조사별로 금속함유량이 차이가 난다고 제보를 받았다. 해당 금속함유량 데이터에 대한 검정을 수행하시오. (유의확률:0.05) <br>
### 연구가설과 귀무가설을 작성시오<br>
### 가설을 양측 검정 <br>
### 검정통계량, 가설 채택<br>

In [1]:
import pandas as pd 
import numpy as np 
## 데이터 불러오기 
df = pd.read_csv('../data/metalicity')
df

     metalicity
0     42.731551
1     46.429668
2     45.754023
3     45.808060
4     44.072529
..          ...
145   45.915727
146   45.277868
147   45.082157
148   44.297235
149   45.510493

[150 rows x 1 columns]

귀무가설 : 정규성을 가진다.  <br>
대립가설 : 정규성을 가지지 않는다. <br>

p-value > 0.05 이므로 귀무가설을 기각하지 못함 <br>
즉, 정규성을 띈다.


## 200개의 Lot별 불량 제품 수량 데이터에 따라 아래의 값을 구하시오. <br>
- p관리도 : 전체품목의 표본에서 부적합 부품의 수의 비율 
2.1 p관리도에 따라 관리중심선(center line), 관리 상한선, 하한선 구하시오<br>
2.2 관리도 시각화 하시오<br>

In [5]:
df2 = pd.read_csv('../data/lot_quality.csv')
df2 = df2.set_index('lot')
df2

     생산수량  불량수량
lot
1     587    19
2     588    15
3     455    19
4     666    12
5     750    15
..    ...   ...
196   631    18
197   565    21
198   570    12
199   517    10
200   750    16

[200 rows x 2 columns]


3.표에 제품 1, 2를 만드는데 재료 a, b, c가 일부 사용되며, 제품 1과 2를 만들 때 12만원과 18만원을 벌 수 있다. 재료는 한정적으로 주어지는데, 이때 최대 수익을 낼 수 있을 때의 제품 1과 제품2의 개수를 구하라.
재료 공급량 { a: 1300, b: 1000, c:1200 }(10점)

* 분석결과 : 유의수준 5% 하에서 p-value값이 0.05보다 크므로, 상품 a와 b의 구매에는 연관이 없다.